.sectionOurOffice {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.imgWrapper {
  width: 60%;
  margin-left: auto;
  margin-right: 10%;

  > div {
    position: relative;
    padding-top: 61%;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.officeNav {
  padding: 4%;
  position: absolute;
  width: 25%;
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: blue;
  background-color: #21394f;

  a {
    cursor: pointer;
    color: white;
    opacity: 50%;
    display: inline;
    display: block;
    text-decoration-line: none;
    text-decoration-style: none;
    font-weight: bold;
    transition: 0.2s;

    :visited{
      color: black;
      opacity: 100%;
    }

    :hover{
      color: white;
      opacity: 100%;
    }

    :active {
      color: rgb(196, 17, 17);
      opacity: 50%;
    }
    span{
      font-size: 22px;
      margin-right: 15px;

    }
  }
  h3 {
      line-height: 1.5;
      padding-bottom: 3%;
      color: #c5ad8f;
    }
  ul {
      list-style-type: none;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  li {
      padding-top: 4%;
      list-style: none;
    }
    
  }  
.button{
  position: absolute;
  top: 80%;
  left: 75%; 
}
.cityList{
  color: white;
  opacity:50%;

}
.cityListActive{
  color: white;
  opacity:100%;

}


.fadeEnter {
  opacity: 0;
  z-index: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fadeExit{
  opacity:1;
}
.fadeExitActive{
  opacity: 0;
  transition: opacity 400ms linear;
}