@import '../../assets/styles/variable.module.scss';

.hero {
  height: 648px;
  background-image: url('../../assets/img/Top_baner.png');
  background-size: cover;
}

.container {
  position: relative;
  height: 100%;
}

.banner {
  position: absolute;
  bottom: -45px;
  left: 10px;
  max-width: 740px;
  width: 100%;
  padding: 40px 60px;
  background: $cloud-burst;
  color: $color-white;
  box-shadow: 0px 26px 50px rgba(29, 44, 58, 0.3);
}

.bannerInner {
  max-width: 545px;
  font-size: 45px;
}

.button {
  margin-top: 25px;
  display: block;
}
