.sectionOurPromise {
  padding-top: 10%;
  padding-left: 40%;
  padding-right: 15%;
  
  h1 {
  font-weight: normal;
  color: black;
  }

  h2 {
  padding-bottom: 2%;
  font-weight: normal;
  color: black;

  }
}
.button{
  position: inherit;
}