.sectionOurPromise {
  padding-top: 10%;
  padding-left: 35%;
  padding-right: 15%;

  h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 37px;
  color: black;
  padding-bottom: 26px;
  }
}
.h1 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 45px;
  color: black;
  }
.button{
  position: inherit;
}