.App {
  background-color: #e5e5e5;
}

/* .navBar {
  width: 100%;
  height: 648px;
  background-image: url("./img/Top_baner.png");
  background-size: cover;
}
.textBanner {
  margin-left: 9%;
  margin-right: 40%;
  margin-top: 24%;
  padding: 20%;
  font-size: 45px;
  color: white;
  background-color: #21394f;
} */

main {
  display: flex;
  flex-direction: column;
}
