.btn{
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Times New Roman', serif;
    }


.btn--primary{
    border-radius: 2em;
    text-align: center;
    background: #C5AD8F;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--empty{
    background-color: white;
    margin-right: 3vh;
}
.btn--onbanner{
    background-color: transparent;
    color: #C5AD8F;
    border: 2px solid #C5AD8F ;
    border-radius: 2em;

}

.btn--medium{
    padding: 10px 22px;
    margin-right: 2vh;
    width: 15vw;
}
.btn--small{
    height: 45px;
    width: 60px;
    border-radius: 50%;
}