$btn-base-color: #C5AD8F;
$base-bg-color: #e5e5e5;
.container{
  background-color: #21394f;
  width: 100%;
  z-index:200;
  padding:5%;
  padding-top:0;
}
.row{
  display: flex;
  flex-direction: row;
  background-color: #21394f;
  padding-bottom: 40px;

  .contact{
    flex-basis: 40%;
    width: auto;
    padding: 3%;
    background-color: #21394f;
    color:$base-bg-color;
  }
      
  .contactAddress{
    flex-basis: 20%;
    
  }
  ul{
    width: auto;
    padding: 3%;
    background-color: #21394f;
    color:$base-bg-color;
    
    h1{
      font-size: 24px;
      line-height: 2;
      padding-bottom: 20px;
    }
    
    h2{
      line-height: 2;
      font-size: 12px;
      color: $btn-base-color ;
    }
    h3{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
      line-height: 24px;
      color: $base-bg-color;
    }
    h4{
      color:$btn-base-color;
    }

  }
}
.row2{
  padding-top: 10px;
  border-top:$btn-base-color 1px solid;
  overflow: auto;
  display: flex;
  display: row;
  width: 100%;
  background-color: #21394f;
  height: 100px;

    h1{
      text-align: center;
      padding-left: 3%;
      font-size: 16px;
      padding-top: 1%;
      color: $btn-base-color ;
    }

    h2{
      margin-left: auto;
      img{
        height: 40px;
      }
    }
}
.button{
  position: inherit;
}