.teamSwitchContent{
    display: flex;
    flex-direction: row;
    padding: 1%;
    padding-left: 10%;
    padding-right: 5%;

    background-color: #c5ad8f;
    margin-right: 50%;
    text-align: right;
}
.link, .link:visited  {
    list-style: none;
    font-size: 20px;
    padding: 5%;
    padding-left: 10%;
    color: white;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .link:active {
    text-decoration: underline;
  }