@import '../../assets/styles/variable.module.scss';

.btn {
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
}
.theme-primary {
  border-radius: 2em;
  text-align: center;
  background: $color-indian-khaki;
  color: $color-white;
  outline: none;
  border: none;
  cursor: pointer;
}

.theme-empty {
  background-color: $color-white;
  :focus {
    border: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
.theme-empty2 {
  background-color: $color-indian-khaki;
  outline: none;
  border: none;
  border-radius: 2em;
}

.theme-onbanner {
  background-color: transparent;
  color: $color-indian-khaki;
  border: 2px solid $color-indian-khaki;
  border-radius: 2em;
  cursor: pointer;
}
.theme-arrowbutton {
  background-color: $color-white;
  border: 2px solid $color-black;
}

.theme-arrowbutton2 {
  background-color: $color-indian-khaki;
}

.size-medium {
  height: 50px;
  min-width: 170px;
  padding: 0 40px;
}

.size-medium2 {
  height: 43px;
  padding: 0px 10px 0px 10px;
  min-width: 165px;
}
.size-medium3 {
  flex: auto;
  padding: 10px 22px;
  height: 45px;
  min-width: 150px;
}

.size-small {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 50%;
}

.size-small2 {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 10%;
}

.size-small3 {
  height: 31px;
  width: 31px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 10%;
}

.size-small4 {
  min-width: 125px;
  height: 45px;
  padding: 0 25px;
  min-width: 125px;
  height: 45px;
  padding: 0 25px;
}
